:root {
  --white: #FFFFFF;
  --light-grey: #E9E9EB;
  --grey: #B3B3B8;
  --black: #262633;
  --orange: #FF5714;
  --navy: #234287;
  --turquiose: #00D9C0;
  --light-blue: ##65AFFF;
  --pink: #FF4AB6;
  --mauve: #E5CEDC;
  --beige: #FFEFD3;
  --light-beige: #FFFCF6;
}